<div class="max-w-4xl mx-auto sm:px-6 lg:px-8 py-8 bg-gray-800 rounded-lg shadow-md">
  <h1 class="text-2xl font-bold text-gray-100 mb-6 text-center">Editar Usuario</h1>
  <div class="flex justify-center my-4 space-x-4">
    <%= link_to "Volver atrás", @user, class: "text-md text-gray-300 hover:text-gray-400 transition duration-150 ease-in-out px-4 py-2 border border-gray-700 rounded hover:bg-gray-700" if Current.user.admin %>
    <%= link_to "Volver a usuarios", users_path, class: "text-md text-blue-400 hover:text-blue-500 transition duration-150 ease-in-out px-4 py-2 border border-blue-500 rounded hover:bg-blue-800" if Current.user.admin %>
    <%= link_to "Volver al perfil", perfil_path(Current.user.username), class: "text-md text-blue-400 hover:text-blue-500 transition duration-150 ease-in-out px-4 py-2 border border-blue-500 rounded hover:bg-blue-800" unless Current.user.admin %>
  </div>

  <%= render "form", user: @user %>


</div>

