/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




.hidden-checkbox {
    display: none;
}



.green {
    background-color: green;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}


@media (max-width: 1000px) { /* Adjusts styles for screens up to 600px wide */
    th {
        font-size: 11px; /* Smaller font size for mobile screens */
    }
    td {
        font-size: 12px; /* Smaller font size for mobile screens */
    }
}

input[type="checkbox"] {
    transform: scale(1.5); /* Adjust scale as needed */
    margin: 5px; /* Adds some space around the checkbox to avoid layout issues */
}

button:not(.section-button) {
    transform: scale(1.2); /* Adjust scale as needed */
}

.section-button{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}